<div class="container" fxLayout="column" fxLayoutGap="10px">
    <div fxFlex>
        <div>
            <h3>Menu</h3>
            <hr>
        </div>
    </div>
    <div fxFlex>

        <mat-grid-list cols="2" rowHeight="200px">
            <mat-grid-tile *ngFor ="let dishitem of dishes" [routerLink]="['/dishDetail',dishitem.id]">
                <img height ="200px" matListAvatar src={{dishitem.image}} alt={{dishitem.name}}>
                <mat-grid-tile-footer>
                    <h1 matLine>
                        {{ dishitem.name | uppercase }}
                    </h1>

                </mat-grid-tile-footer>
            </mat-grid-tile > 
        </mat-grid-list>
    </div>

</div>

